<% if community.cover.url %>
  <div class="cover" style="background-image: url(<%= community.cover.url %>);"></div>
<% else %>
  <div class="cover" style="background-image: url(/assets/cover.png);"></div>
<% end %>
